.question {
  color: aliceblue;
  font-weight: bold;
}
.eye {
  color: black;
}
.card-title {
  display: flex;
  justify-content: space-between;
}

.quiz-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.options {
  background-color: #f4f8fa;
  font-weight: bold;
  font-style: italic;
}
