.header {
  background-color: #003783;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px 50px;
}

@media screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    /* gap: 30px 20px; */
  }
  /* .header img {
    width: 50%;
    height: 50%;
  } */
}
