.footer {
  background-color: #252c41;
}
.logo {
  font-family: "Quantico";
  font-weight: 700;
}
.logo a {
  text-decoration: none;
  color: white;
}
.my-name {
  font-family: "Quantico";
  font-weight: 400;
}

/* .copyright {
  font-family: "Quantico";
  font-weight: 400;
}  */
